﻿#navigation{
	list-style: none;
	font-weight: bold;
	float: left;
	width: 660px;
	height: 30px;
	position: relative;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #fea;
}
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	font-weight: bold;
	text-decoration: none;
	color: #8b0000;
	display: block;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #fea;
	background-color: #fea;
	white-space: nowrap;
	width: 100%;
}
#navigation a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #fea;
	border: 1px solid #8b0000;
	background-color: #8b0000;
}
#navigation li ul {
	visibility: hidden;
	position: fixed;
	width: 230px;
	z-index: 5;
	border: 1px solid #808080;
	background-color: #fea;
}
#navigation li:hover ul {
	visibility: visible;
}
#navigation li ul li {
	width: 190px;
}
#navigation li ul li a {
	width: 190px;
	padding-left: 10px;
	margin-left: 10px;
}
