﻿@import url("layout.css");
@import url("menu.css");
@import url("vert-menu.css");
body {
	font-family: Noto Sans;
	font-size: small;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
#container {
	border-top: 2px solid #484848;
	border-left: 2px solid #484848;
	border-radius: 25px;
	box-shadow: 5px 5px 5px #333333;
	background-color: #eee;
}
#masthead {
	text-align: left;
	background-color: #336699;
	background-image: url("http://www.euanreid.com/images/masthead.jpg");
	background-position: center;
	background-size: cover;
}
#column_l {
	width: 60%;
	padding: 15px;
}
html>body #column_l {
	width: 60%;
	padding: 0 15px;
}
#column_r {
	width: 27%;
	padding: 15px 10px;
}
html>body #column_r {
	width: 27%;
	padding: 15px 10px;
	float: right;
}
#footer {
	text-align: center;
	padding-bottom: 0;
}
/* Masthead */
#masthead h1 {
	color: #8b0000;
	margin-left: 0.5em;
}
#masthead h3 {
	color: #000;
	margin-top: 0;
	margin-left: 1em;
}
/* Right Column */
#column_r img {
	border: 1px solid #808080;
}
/* Site typography */
h1 {
	font-size: xx-large;
	color: #800;
	text-shadow: 1px 1px #300;
}
h2 {
	font-size: x-large;
	color: #700;
}
h3 {
	font-size: large;
	color: #600;
}
h4 {
	font-size: medium;
	color: #500;
}
h5 {
	font-size: x-small;
	color: #400;
}
h6 {
	font-size: xx-small;
	color: #300;
}
/* Footer */
#footer p {
	font-size: x-small;
	color: #000;
}
/* Links */
a {
	color: #8b0000;
	text-decoration: underline;
}
a:hover {
	color: #fa3;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
/* Decoration */
.advise-box {
	border: 1px solid;
	line-height: 150%;
	font-weight: bold;
}
