﻿/* DIV tags */
html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}
#container-top {
	width: 660px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	overflow: hidden;
}
#container {
	position: relative;
	width: 66%;
	min-width: 660px;
	height: 70%;
	min-height: 400px;
	margin: 0 auto 60px;
	padding: 0;
	border: 0;
	overflow: overlay;
}
#masthead {
	width: 660px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}
#fb-like {
	float: right;
	padding-top: 5px;
}
#iMenu {
	width: 660px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}
#column_l {
	position: relative;
	float: left;
	margin: 0;
}
#column_r {
	position: relative;
	float: left;
	margin: 0;
}
#content {
	margin: 0;
	padding: 15px;
	border: 0;
}
#main {
	overflow: auto;
}
#clearer {
	width: 100%;
	clear: both;
}
#footer {
	position: fixed;
	width: 100%;
	overflow: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	bottom: 0;
}
