﻿#submenu {
	list-style: none;
	font-weight: bold;
	float: left;
	height: 80%;
	position: relative;
	border: 1px solid #808080;
	background-color: #fea;
	margin: 50px 0 0 5px;
}
#submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#submenu a {
	font-weight: bold;
	text-decoration: none;
	color: #8b0000;
	display: block;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #fea;
	background-color: #fea;
	white-space: nowrap;
}
#submenu a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #fea;
	border: 1px solid #8b0000;
	background-color: #8b0000;
}
